asgiref==3.8.1
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci/cffi_1636523946399/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
colorama==0.4.4
conda==4.11.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262410900/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
Django==4.2.20
django-cors-headers==4.7.0
djangorestframework==3.16.0
Flask==2.1.2
gunicorn==23.0.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.4.2
MarkupSafe==2.1.1
menuinst @ file:///C:/ci/menuinst_1631733438520/work
mysql==0.0.3
mysqlclient==2.2.7
numpy==2.0.2
packaging==25.0
pandas==2.2.3
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyMySQL==1.1.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==302
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
scikit-learn==1.6.1
scipy==1.13.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.7
Werkzeug==2.1.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
zipp==3.8.0
